body {
  background-image: url(../images/bg.jpg); }

section {
  margin: 2em;
  background-color: white;
  padding: 1.5em; }

label {
  font-family: sans-serif;
  font-weight: lighter;
  margin-bottom: .3em; }

input {
  width: 100%;
  border: solid #CCCCCC 1px;
  border-left: solid black 4px;
  font-size: 16px;
  font-weight: lighter;
  padding: .2em;
  margin-bottom: .3em; }

textarea {
  width: 100%;
  border: solid #CCCCCC 1px;
  border-left: solid black 4px;
  font-size: 16px;
  padding: .2em; }

h2 {
  font-family: sans-serif; }

button {
  background-color: #22242A;
  color: white;
  padding: 1em 2em;
  border: none;
  font-size: 16px;
  font-weight: lighter; }

.error {
  font-size: 16px;
  color: red;
  margin-bottom: .3em;
  font-family: sans-serif; }

button:hover {
  transition-property: background-color;
  transition-duration: 5s;
  transition-delay: 0s;
  background-color: #88C470; }

@media (min-width: 743px) {
  section {
    width: 649px;
    margin: 0 auto;
    margin-top: 2em; } }
